.box {
  display: flex;
  flex-direction: column;
}

.wrap {
  width: 800px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.minPrice, .maxPrice {
  font-weight: bold;
  color: #ffffff;
  background-color: #4c84e0;
  border-radius: 30px;
  padding: 10px;
}

.minPrice {
  margin-right: 15px;
}

.maxPrice {
  margin-left: 15px;
}