.btn {
    padding: 50px;
    background: #2E333B;
    color: white;
    text-transform: uppercase;
    border-radius: 50%;
    cursor: pointer;
    margin: 25px 0;
    border: none;
    outline: none;
}